@font-face {
    src: url(font/BebasNeue-Regular.ttf);
    font-family: netflix;
}
@font-face {
    font-family: soon;
    src: url(font/Coming\ Soon\ St.ttf);
}
*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: red;
    font-family: netflix;
}
h1,h2,h3,h4,h5,h6{
    color: red;
    display: block;
    font-family: netflix;
}
p{
    color: white;
}
img{
    box-shadow: #000000 -5px 5px 20px;
    margin: 20px;
    border-radius: 10px;
}
.films-text{
    margin: 20px;
    color: white;
}
.films{
    border-radius: 8px;
    background-color: black;
}
.message-bar-usps{
    min-height: 2.8em;
}
.message-bar-usps{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.message-bar--accent{
    color: #ffff;
}
.message-bar{
    max-width: 100vw;
    text-align: center;
}
.films-box{
    background-color: rgba(106, 106, 106, 0.427);
    background-image: url(img/background_5.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 20px;
    position: relative;
}
::-webkit-scrollbar {
    background-color: rgba(0, 132, 255, 0);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: #DB202C;
    border-radius: 50px;
    
}
::-webkit-scrollbar {
    width: 10px;
}
.invisible-p{
    color: transparent;
}
.urfilms{
    margin: 20px;
}