*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: yellow;
}
button{
    background-color: black;
    color: yellow;
    margin: 0 auto;
}
img{
    margin-left: 11px;
    border-radius: 15px;
}